.asset-description {
    position: relative;
    padding-top: 0;
    margin-top: 25px;
    margin-left: 25px;
}

.asset-description-header {
    background: #fff;
}

.asset-banner {
    height: 299px;
    width: 580px;
    position: absolute;
    left: -15px;
    /*border-bottom: 1px solid #ECF0F1;*/
    overflow: hidden;
}

.asset-introduction-box {
    position: absolute;
    /*right: -20px;*/
    bottom: 0;
    top: 0;
    left: 565px;
    padding: 20px;
    border-left: 1px solid #ECF0F1;
    /*border-bottom: 1px solid #ECF0F1;*/
}

.asset-introduction-box img {
    width: 100px;
    /*border: 1px solid #FFFFFF;*/
}

.asset-introduction-box small {
    display: block;
    /*line-height: 1.2;*/
    color: #7f8c8d;
}

