{{#zone "appbarHeader"}}
    <a class="navbar-menu-toggle" data-toggle="sidebar" data-target="#example-leftpane-menu"
       data-container=".page-content-wrapper" data-container-push="true"
       data-push-side="left" aria-controls="example-leftpane-menu" aria-expanded="false">
    <span class="icon fw-stack">
        <i class="fw fw-menu fw-stack-1x toggle-icon-left-arrow"></i>
    </span>
    </a>
{{/zone}}

{{#zone "sidebarMenu"}}
    {{#zone "sidebarMenu-icon"}}fw-dashboard{{/zone}}
    {{#zone "sidebarMenu-name"}}Dashboard{{/zone}}
    {{#zone "sidebarMenu-item"}}
        {{#zone "sidebarMenu-item-uri"}}#{{/zone}}
        {{#zone "sidebarMenu-item-icon"}}{{/zone}}
        {{#zone "sidebarMenu-item-name"}}Life Cycle{{/zone}}
    {{/zone}}
    {{#zone "sidebarMenu-item"}}
        {{#zone "sidebarMenu-item-uri"}}#{{/zone}}
        {{#zone "sidebarMenu-item-icon"}}{{/zone}}
        {{#zone "sidebarMenu-item-name"}}Actions{{/zone}}
    {{/zone}}
{{/zone}}

{{#zone "sidePane"}}
    {{#zone "sidePaneId"}}example-leftpane-menu{{/zone}}
    {{#zone "sidePaneOrientation"}}left{{/zone}}
    {{#zone "sidePaneContent"}}
        {{unit "org.wso2.uuf.template.unit.sidepane.menus"}}
    {{/zone}}
{{/zone}}