{{#zone "topCss"}}
    <link rel="stylesheet" href="{{unit.publicUri}}/less/login.css">
{{/zone}}

<div class="col-sm-7 col-md-4 center-block" style="float: none; margin-top: 10%;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Sign In To Apps Store
            </h3>
        </div>
        <div class="panel-body">
            {{unit "org.wso2.uuf.sample.units.login-input"}}
        </div>
    </div>
</div>
