{{#zone "appbarHeader"}}
    <a class="navbar-menu-toggle" data-toggle="collapse" data-target="#uuf_nav_menu_div"
       aria-expanded="false" aria-controls="uuf_nav_menu_div">
        <span class="icon fw-stack">
            <i class="fw fw-down fw-stack-1x toggle-icon-up"></i>
        </span>
    </a>
{{/zone}}

{{#zone "navbarsBelow"}}
    <div id="uuf_nav_menu_div" class="navbar-default collapse navbar-collapse dropdown tiles">
        {{#defineZone "navMenuItem"}}
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{defineZone "navMenuItem-uri"}}">
                        <i class="fw {{defineZone "navMenuItem-icon"}}"></i>{{defineZone "navMenuItem-name"}}
                    </a>
                </li>
            </ul>
        {{/defineZone}}
    </div>
{{/zone}}