{{#zone "title"}}WSO2 UUF{{/zone}}

{{#zone "content"}}
    <div class="jumbotron" style="margin-top: 30px;">
        <h1>Welcome to WSO2 App Store!</h1>
    </div>

    <i>{{unit "org.wso2.uuf.sample.units.a"}}</i>
{{/zone}}

{{#zone "topJs"}}
    <script>PAGE</script>
{{/zone}}