{{#zone "appbarHeader"}}
    {{#defineZone "breadcrumb"}}
        <ol class="breadcrumb navbar-brand">
            <li>
                <a href="{{#defineZone "breadcrumbHomeUri"}}{{@app.uri}}{{/defineZone}}">
                    <i class="icon fw fw-home"></i>
                </a>
            </li>
            {{#defineZone "breadcrumbItem"}}
                <li>
                    <a href="{{defineZone "breadcrumbItem-uri"}}">{{defineZone "breadcrumbItem-name"}}</a>
                </li>
            {{/defineZone}}
        </ol>
    {{/defineZone}}
{{/zone}}