{{#zone "sidePanes"}}
    {{#defineZone "sidePane"}}
        <div class="sidebar-wrapper" id="{{defineZone "sidePaneId"}}"
             data-side="{{defineZone "sidePaneOrientation"}}">
            {{defineZone "sidePaneContent"}}
        </div>
    {{/defineZone}}
{{/zone}}
