{{#zone "topCss"}}
    <link rel="stylesheet" href="{{@unit.publicUri}}/less/logo.css">
{{/zone}}

{{#zone "brand"}}
    <a href="{{@app.uri}}">
        <img class="{{@unit.class}}" src="{{@unit.publicUri}}/img/logo.png" alt="logo" />
    </a>
{{/zone}}
