{{#zone "topCss"}}
    <link rel="stylesheet" href="{{this.unit.publicUri}}/less/logo.css">
{{/zone}}

{{#zone "brand"}}
    <a href="{{this.app.uri}}">
        <img class="{{this.unit.class}}" src="{{this.unit.publicUri}}/img/logo.png" alt="logo" />
    </a>
{{/zone}}
