{{#zone "topCss"}}
    <link rel="stylesheet" href="{{@unit.publicUri}}/css/footer-style.css">
{{/zone}}

{{#zone "footer"}}
    <p class="text-muted" style="margin-right: 10px; margin-top: 10px;"><b>Powered By WSO2 Unified UI Framework</b></p>
{{/zone}}
