{{#zone "sidePanes"}}
    <div id="{{defineZone "sidePane-id" protected=true}}" class="sidebar-wrapper" data-side="{{defineZone "sidePane-orientation"}}">
        {{defineZone "sidePane-content"}}
    </div>
{{/zone}}